_pycache_
psicocare/api/__pycache__/__init__.cpython-313.pyc
psicocare/api/__pycache__/admin.cpython-313.pyc
psicocare/api/__pycache__/apps.cpython-313.pyc
psicocare/api/__pycache__/models.cpython-313.pyc
psicocare/api/__pycache__/serializer.cpython-313.pyc
psicocare/api/__pycache__/urls.cpython-313.pyc
psicocare/api/__pycache__/views.cpython-313.pyc
psicocare/api/migrations/__pycache__/0001_initial.cpython-313.pyc
psicocare/api/migrations/__pycache__/0002_remove_user_age_user_email_user_senha_user_tipo.cpython-313.pyc
psicocare/api/migrations/__pycache__/__init__.cpython-313.pyc
psicocare/psicocare/__pycache__/__init__.cpython-313.pyc
psicocare/psicocare/__pycache__/settings.cpython-313.pyc
psicocare/psicocare/__pycache__/urls.cpython-313.pyc
psicocare/psicocare/__pycache__/wsgi.cpython-313.pyc
