# Ambiente virtual
venv/
ENV/
env/
.venv/
*.env

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de banco de dados locais
db.sqlite3

# Configurações do VSCode
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos de migração (opcional, se for usar só localmente)
# Você pode manter se quiser versionar as migrações
# core/migrations/__pycache__/
# core/migrations/*.pyc

# Arquivos de testes e cobertura
htmlcov/
coverage.*
.cache
nosetests.xml
*.cover
.tox/
.pytest_cache/

# Arquivos do Django
staticfiles/
media/
